/* src/index.css */
:root {
  --max-w: 1200px;
  --px: 24px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  margin: 0;
  background: #050505;
  padding: 0;
  overflow-x: hidden;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  -ms-overflow-style: none;
}

.container {
  width: min(var(--max-w), calc(100% - (var(--px) * 2)));
  margin: 0 auto;
}
